{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Categories</h2>

    {% if categories %}
        <div class="row">
            {% for category in categories %}
                <div class="col-md-1">
                    <form action="{% url 'categories' %}" method="POST" class="mt-3">
                        {% csrf_token %}

                        <input type="hidden" name="category_id" value="{{ category.id }}">
                        <input type="submit" value="{{ category.title }}">
                    </form>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    
    {% if listings %}
        <h3 class="mb-3 mt-4">Category: {{ selected_category }}</h3>
            
        {% for listing in listings %}
            <div class="border mb-3">
                <div class="row">
                    <div class="col-md-5">
                        <a href="{% url 'show' listing.id %}">
                            <img src="{{ listing.image }}" alt="listing_image" class="w-50">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <a href="#">
                            <h3 class="text-dark">{{ listing.title }}</h3>
                        </a>
                        <p><strong>Price:</strong> ${{ listing.starting_price }}</p>
                        <p>Created {{ listing.created }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="mt-4">There are currently no listings to show</p>
    {% endif %}

{% endblock %}
        