{% extends "customer_part/layout.html" %}
{% load static %}

{% block style %}
    <link href="{% static 'customer_part/css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
    <div id="login-background">
        <div class="row h-100 flex-column justify-content-center align-items-center">
            <div class="col-8 col-sm-6 bg-info p-3">
                <form action="" method="POST" class="text-white">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <a href="{% url 'register' %}">Dont't have an account? Click Here</a>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock  %}